*.iml
.gradle/
local.properties
.idea/*
build/
captures/
.cxx/
.externalNativeBuild

# Built application files
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db