*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.cxx/

.idea/
!/.idea/codeStyles
!/.idea/icon.png

captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings