name: Shared tests
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Unit tests
        run: ./gradlew testDebugUnitTest
      - name: Generate code coverage
        run: ./gradlew androidApp:koverXmlReportDebug
      - name: Upload test coverage
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage.xml
          path: androidApp/build/coverage-report/result.xml